.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота - вся высота окна браузера */
  }
  
  .content {
    flex: 1; /* Контент растягивается, чтобы занять доступное пространство */
    padding: 20px; /* Отступы для мобильных устройств */
  }
  
  